<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">

<head>
  <meta charset="utf-8" />


  <title></title>

  
</head>

<body >

<div layout:fragment="content" class="container mySpace">
		<div class="jumbotron">
		<a href="http://www.mod.gov.bn"><img alt="" src="../images/LOGOKementerian pembangunan.jpg" align="centre" class= "imgmax"></a>
		
			<h1>Welcome to Housing Centre </h1>
			
			 <div>
    
      <hr />
      <h4>Confirm Your Password</h4>

      <div th:if="${successMessage}" class="alert alert-success"
        role="alert" th:text=${successMessage}></div>

      <div th:if="${errorMessage}" class="alert alert-danger"
        role="alert" th:text=${errorMessage}></div>
        
      <div th:if="${invalidToken}" class="alert alert-danger"
        role="alert" th:text=${invalidToken}></div>

      <form th:if="!${invalidToken}" class="m-t" id="passwordForm" role="form" action="#"
       th:object="${setPassword}" th:action="@{/confirm}" method="post">

        <input type="hidden" name="token" th:value=${confirmationToken}  >

        
        <button type="submit"
          class="btn btn-primary block full-width m-b">Save
        </button>

      </form>

     
    </div>
			
			
		</div>
		
		<div>
   
  </div>
		
	</div>

  

  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

 
  
  

</body>
</html>