<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}"
	>
	
<head> 

<title>Forgot Password</title> 
</head>
 <body>
 
 <div layout:fragment="content" class="container mySpace">
		<div class="jumbotroncolor">
		
		
			<h1>Welcome to Housing Centre </h1>
			 
			 <form action="#" th:action="@{/forgot-password}" th:object="${user}" method="post">
                
                <div class="form-group">
				<label for="email" class="form-control-label" >Email</label>
				<input type="text" th:field="*{email}" name ="email" id="email" class="form-control" />
				</div>
                
                
                
                
                <table>
                    <tr>
                        <td><input type="reset" value="Clear" class="btn btn-danger"/></td>
                        <td><input type="submit" value="Reset Password" class="btn btn-primary"></input></td>
                    </tr>
                </table>
            </form>
			 
		</div>
		
		
	</div>
 
 
            

    </body>
</html>