<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}"
	>	
	
<head>

<style>
iframe{
 display: block;
  margin-left: auto;
  margin-right: auto;

}

h1{
 display: block;
  margin-left: auto;
  margin-right: auto;
  }

.footer {
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}

}



</style>
<meta charset="UTF-8"/>
<title>Home</title>
</head>
<body>

<div> </div>
	<div layout:fragment="content" class="container mySpace">
		<div class="jumbotron">
		<marquee>  FOR MORE INFORMATION YOU CAN CLICK BELOW IMAGE OR CALL 238 3222  </marquee>
		<a href="http://www.mod.gov.bn"><img alt="" src="../images/LOGOKementerian pembangunan.jpg" align="centre" ></a>
		
			<h1>Welcome to Housing Centre </h1>
			 <h2>Below are the guidelines to register</h2>
			 <h3>1. You must register under the register button</h3>
			 <h3>2. You must login under the login button</h3>
			 <h3>3. You must upload your file under the profile page when you sign in</h3>
			 <h3>4. You must create form under the create home button to submit the form</h3>
			 <h3>5. In order to fully logout, you must click the logout button on the menu bar</h3>
			 
			 <iframe width="620" height="345" src="https://www.youtube.com/embed/CIClLH7NLTk"></iframe>
			 
			 
			 
			 <div class="footer">
<p>Created by: Housing Centre BN  Contact information: <a href="nws07_01106579@pb.edu.bn">MUHAMMAD NUR AIEEZZAT BIN AWANG RAHIMEEY</a>.</p>
  <p><strong>Note:</strong> Copyright © Government of Brunei Darussalam and Politeknik Brunei. All Right Reserved.</p>
</div>
			 
			 

		</div>
		
		
	</div>

</body>
</html>