<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
    <head> <title>Reset Password</title> </head>
    <body>
 	<div layout:fragment="content" class="container mySpace">
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/reset}" th:object="${user}" method="post">
                <table>
       
                    <tr>
                    
                        <td><label for="password">Password</label></td>
                        
                        <td><input type="hidden" name="token" th:value=${resetToken} ></td>
                     
                        <td><input type="password" name="password" th:value=${password} class="form-control"/></td>
                        
                        <td><div th:if="${errorMessage}" class="alert alert-danger"
        				role="alert" th:text=${errorMessage}></div></td>
        				
                    </tr>
                    
                   
                    
                    <tr>
                        <td>
                        <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success"></input>
                        </div>
                        </td>
                    </tr>
                </table>
                
            </form>
    </div>
    </body>
</html>